---
swagger: "2.0"
info:
  version: "2.0"
  title: "API spending.gov.ua"
  termsOfService: "https://spending.gov.ua/api/termsOfService"
  license:
    name: "License"
    url: "https://spending.gov.ua/api/license"
host: "api.spending.gov.ua"
basePath: "/api"
tags:
- name: "Dictionaries"
  description: "Сервіс службових довідників"
- name: "Disposers"
  description: "Сервіс отримання підписаних документів"
- name: "Google analytic statistic"
  description: "Гугл аналітика"
- name: "Map"
  description: "Карта на першій сторінці"
- name: "Pageable Disposers"
  description: "Сервіс отримання підписаних документів"
- name: "Regions"
  description: "Довідник регіонів"
- name: "Reports"
  description: "Завантаження звітітів"
- name: "Statistic"
  description: "Статистика документів на порталі"
- name: "Transactions"
  description: "Дані по транcакціях"
- name: "dict-controller"
  description: "Dict Controller"
paths:
  /v2/api/reports/asynch:
    get:
      tags:
      - "Reports"
      summary: "Запит звіту за ЄДРПОУ, типом звіту та періодом"
      operationId: "findAsynchUsingGET"
      produces:
      - "text/plain"
      parameters:
      - name: "edrpou"
        in: "query"
        description: "ЕДРПОУ"
        required: false
        type: "string"
      - name: "reportTypeId"
        in: "query"
        description: "Тип звіту"
        required: false
        type: "integer"
        format: "int64"
      - name: "periodId"
        in: "query"
        description: "Період звіту"
        required: false
        type: "integer"
        format: "int64"
      responses:
        "200":
          description: "OK"
          schema:
            type: "string"
        "401":
          description: "Unauthorized"
        "403":
          description: "Forbidden"
        "404":
          description: "Not Found"
      x-swagger-router-controller: "Reports"
  /v2/api/reports/asynch/codes:
    get:
      tags:
      - "Reports"
      summary: "Довідник кодів колонок/рядків звітів"
      operationId: "codesUsingGET"
      produces:
      - "application/json;charset=UTF-8"
      parameters: []
      responses:
        "200":
          description: "OK"
          schema:
            $ref: "#/definitions/ReportApiCodeDto"
        "401":
          description: "Unauthorized"
        "403":
          description: "Forbidden"
        "404":
          description: "Not Found"
      x-swagger-router-controller: "Reports"
  /v2/api/reports/asynch/date/{date}:
    get:
      tags:
      - "Reports"
      summary: "Запит звітів за датою оприлюднення"
      operationId: "findBySignDateUsingGET"
      produces:
      - "text/plain"
      parameters:
      - name: "date"
        in: "path"
        description: "Дата оприлюднення"
        required: false
        type: "string"
        format: "date"
      responses:
        "200":
          description: "OK"
          schema:
            type: "string"
        "401":
          description: "Unauthorized"
        "403":
          description: "Forbidden"
        "404":
          description: "Not Found"
      x-swagger-router-controller: "Reports"
  /v2/api/reports/asynch/deleted/{date}:
    get:
      tags:
      - "Reports"
      summary: "Запит вилучених звітів за дату"
      operationId: "findByDeletedDateUsingGET"
      produces:
      - "text/plain"
      parameters:
      - name: "date"
        in: "path"
        description: "Дата вилучення"
        required: false
        type: "string"
        format: "date"
      responses:
        "200":
          description: "OK"
          schema:
            type: "string"
        "401":
          description: "Unauthorized"
        "403":
          description: "Forbidden"
        "404":
          description: "Not Found"
      x-swagger-router-controller: "Reports"
  /v2/api/reports/asynch/periods:
    get:
      tags:
      - "Reports"
      summary: "Довідник звітних періодів"
      operationId: "getPeriodsUsingGET"
      produces:
      - "application/json"
      parameters: []
      responses:
        "200":
          description: "OK"
          schema:
            type: "string"
        "401":
          description: "Unauthorized"
        "403":
          description: "Forbidden"
        "404":
          description: "Not Found"
      x-swagger-router-controller: "Reports"
  /v2/api/reports/asynch/result/{token}:
    get:
      tags:
      - "Reports"
      summary: "Отримання результату запиту за віжповідним токеном"
      operationId: "getAsynchUsingGET"
      produces:
      - "application/octet-stream"
      parameters:
      - name: "token"
        in: "path"
        description: "token"
        required: true
        type: "string"
      responses:
        "200":
          description: "OK"
          schema:
            type: "string"
            format: "byte"
        "401":
          description: "Unauthorized"
        "403":
          description: "Forbidden"
        "404":
          description: "Not Found"
      x-swagger-router-controller: "Reports"
  /v2/api/reports/kpk/:
    get:
      tags:
      - "Reports"
      summary: "Запит reports"
      operationId: "getKpkUsingGET"
      produces:
      - "application/json"
      parameters:
      - name: "periodId"
        in: "query"
        description: "periodId"
        required: false
        type: "integer"
        format: "int64"
      - name: "budget"
        in: "query"
        description: "budget"
        required: false
        type: "string"
      responses:
        "200":
          description: "OK"
          schema:
            type: "string"
        "401":
          description: "Unauthorized"
        "403":
          description: "Forbidden"
        "404":
          description: "Not Found"
      x-swagger-router-controller: "Reports"
  /v2/api/reports/kvk/:
    get:
      tags:
      - "Reports"
      summary: "Запит reports"
      operationId: "getKvkUsingGET"
      produces:
      - "application/json"
      parameters:
      - name: "periodId"
        in: "query"
        description: "periodId"
        required: false
        type: "integer"
        format: "int64"
      - name: "budget"
        in: "query"
        description: "budget"
        required: false
        type: "string"
      responses:
        "200":
          description: "OK"
          schema:
            type: "string"
        "401":
          description: "Unauthorized"
        "403":
          description: "Forbidden"
        "404":
          description: "Not Found"
      x-swagger-router-controller: "Reports"
  /v2/api/reports/periods/:
    get:
      tags:
      - "Reports"
      summary: "Запит reports"
      operationId: "getPeriodsUsingGET_1"
      produces:
      - "application/json"
      parameters: []
      responses:
        "200":
          description: "OK"
          schema:
            type: "string"
        "401":
          description: "Unauthorized"
        "403":
          description: "Forbidden"
        "404":
          description: "Not Found"
      x-swagger-router-controller: "Reports"
  /v2/api/reports/ping:
    get:
      tags:
      - "Reports"
      summary: "Запит транcакцій (page)"
      operationId: "pingUsingGET_6"
      produces:
      - "application/json"
      parameters: []
      responses:
        "200":
          description: "OK"
        "401":
          description: "Unauthorized"
        "403":
          description: "Forbidden"
        "404":
          description: "Not Found"
      x-swagger-router-controller: "Reports"
  /v2/api/reports/report_types/:
    get:
      tags:
      - "Reports"
      summary: "Запит reports"
      operationId: "getReportTypesUsingGET"
      produces:
      - "application/json"
      parameters: []
      responses:
        "200":
          description: "OK"
          schema:
            type: "string"
        "401":
          description: "Unauthorized"
        "403":
          description: "Forbidden"
        "404":
          description: "Not Found"
      x-swagger-router-controller: "Reports"
  /v2/api/reports/report_types/{id}:
    get:
      tags:
      - "Reports"
      summary: "Запит reports"
      operationId: "getReportTypeUsingGET"
      produces:
      - "application/json"
      parameters:
      - name: "id"
        in: "path"
        description: "id"
        required: true
        type: "integer"
        format: "int32"
      responses:
        "200":
          description: "OK"
          schema:
            type: "string"
        "401":
          description: "Unauthorized"
        "403":
          description: "Forbidden"
        "404":
          description: "Not Found"
      x-swagger-router-controller: "Reports"
  /v2/api/reports/signinfo:
    post:
      tags:
      - "Reports"
      summary: "Get signature details of Report"
      operationId: "getReportInfoUsingPOST_1"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - in: "body"
        name: "checkSignReq"
        description: "checkSignReq"
        required: true
        schema:
          $ref: "#/definitions/CheckSignRequestDTO"
      responses:
        "200":
          description: "OK"
          schema:
            type: "string"
        "201":
          description: "Created"
        "401":
          description: "Unauthorized"
        "403":
          description: "Forbidden"
        "404":
          description: "Not Found"
      x-swagger-router-controller: "Reports"
  /v2/api/reports/{disposer}/{reportId}:
    get:
      tags:
      - "Reports"
      summary: "Запит reports by ID"
      operationId: "getReportUsingGET"
      produces:
      - "application/json"
      parameters:
      - name: "disposer"
        in: "path"
        description: "disposer"
        required: true
        type: "string"
      - name: "reportId"
        in: "path"
        description: "reportId"
        required: true
        type: "integer"
        format: "int64"
      responses:
        "200":
          description: "OK"
          schema:
            type: "string"
        "401":
          description: "Unauthorized"
        "403":
          description: "Forbidden"
        "404":
          description: "Not Found"
      x-swagger-router-controller: "Reports"
  /v2/api/reports/{disposer}/{reportId}/history:
    get:
      tags:
      - "Reports"
      summary: "Запит History reports by ID"
      operationId: "getReporstHistoryListUsingGET_3"
      produces:
      - "application/json"
      parameters:
      - name: "disposer"
        in: "path"
        description: "disposer"
        required: true
        type: "string"
      - name: "reportId"
        in: "path"
        description: "reportId"
        required: true
        type: "integer"
        format: "int64"
      responses:
        "200":
          description: "OK"
          schema:
            type: "string"
        "401":
          description: "Unauthorized"
        "403":
          description: "Forbidden"
        "404":
          description: "Not Found"
      x-swagger-router-controller: "Reports"
  /v2/api/reports/{disposer}/{reportId}/history/{historyId}:
    get:
      tags:
      - "Reports"
      summary: "Запит History reports by ID"
      operationId: "getReporstHistoryListUsingGET_2"
      produces:
      - "application/json"
      parameters:
      - name: "disposer"
        in: "path"
        description: "disposer"
        required: true
        type: "string"
      - name: "reportId"
        in: "path"
        description: "reportId"
        required: true
        type: "integer"
        format: "int64"
      - name: "historyId"
        in: "path"
        description: "historyId"
        required: true
        type: "integer"
        format: "int32"
      responses:
        "200":
          description: "OK"
          schema:
            type: "string"
        "401":
          description: "Unauthorized"
        "403":
          description: "Forbidden"
        "404":
          description: "Not Found"
      x-swagger-router-controller: "Reports"
  /v2/api/reports/{edrpou}/csv/:
    get:
      tags:
      - "Reports"
      summary: "Запит reports"
      operationId: "getCsvUsingGET"
      produces:
      - "application/json"
      parameters:
      - name: "edrpou"
        in: "path"
        description: "edrpou"
        required: true
        type: "string"
      - name: "reportTypeId"
        in: "query"
        required: false
        type: "array"
        items:
          type: "integer"
          format: "int64"
        collectionFormat: "multi"
      - name: "periodIds"
        in: "query"
        required: false
        type: "array"
        items:
          type: "integer"
          format: "int64"
        collectionFormat: "multi"
      - name: "edrpou"
        in: "query"
        required: false
        type: "string"
      - name: "budget"
        in: "query"
        required: false
        type: "string"
      - name: "fund"
        in: "query"
        required: false
        type: "string"
      - name: "vidClassCode"
        in: "query"
        required: false
        type: "string"
      - name: "progClassCode"
        in: "query"
        required: false
        type: "string"
      - name: "signDateFrom"
        in: "query"
        required: false
        type: "string"
        format: "date-time"
      - name: "signDateTo"
        in: "query"
        required: false
        type: "string"
        format: "date-time"
      - name: "createDateFrom"
        in: "query"
        required: false
        type: "string"
        format: "date-time"
      - name: "createDateTo"
        in: "query"
        required: false
        type: "string"
        format: "date-time"
      - name: "signStatus"
        in: "query"
        required: false
        type: "string"
        enum:
        - "signed"
        - "resigned"
        - "oneshot"
      - name: "page"
        in: "query"
        required: false
        type: "integer"
        format: "int32"
      - name: "size"
        in: "query"
        required: false
        type: "integer"
        format: "int32"
      responses:
        "200":
          description: "OK"
        "401":
          description: "Unauthorized"
        "403":
          description: "Forbidden"
        "404":
          description: "Not Found"
      x-swagger-router-controller: "Reports"
  /v2/api/reports/{edrpou}/page:
    get:
      tags:
      - "Reports"
      summary: "Запит reports"
      operationId: "getPageUsingGET"
      produces:
      - "application/json"
      parameters:
      - name: "edrpou"
        in: "path"
        description: "edrpou"
        required: true
        type: "string"
      - name: "reportTypeId"
        in: "query"
        required: false
        type: "array"
        items:
          type: "integer"
          format: "int64"
        collectionFormat: "multi"
      - name: "periodIds"
        in: "query"
        required: false
        type: "array"
        items:
          type: "integer"
          format: "int64"
        collectionFormat: "multi"
      - name: "edrpou"
        in: "query"
        required: false
        type: "string"
      - name: "budget"
        in: "query"
        required: false
        type: "string"
      - name: "fund"
        in: "query"
        required: false
        type: "string"
      - name: "vidClassCode"
        in: "query"
        required: false
        type: "string"
      - name: "progClassCode"
        in: "query"
        required: false
        type: "string"
      - name: "signDateFrom"
        in: "query"
        required: false
        type: "string"
        format: "date-time"
      - name: "signDateTo"
        in: "query"
        required: false
        type: "string"
        format: "date-time"
      - name: "createDateFrom"
        in: "query"
        required: false
        type: "string"
        format: "date-time"
      - name: "createDateTo"
        in: "query"
        required: false
        type: "string"
        format: "date-time"
      - name: "signStatus"
        in: "query"
        required: false
        type: "string"
        enum:
        - "signed"
        - "resigned"
        - "oneshot"
      - name: "page"
        in: "query"
        required: false
        type: "integer"
        format: "int32"
      - name: "size"
        in: "query"
        required: false
        type: "integer"
        format: "int32"
      responses:
        "200":
          description: "OK"
          schema:
            type: "string"
        "401":
          description: "Unauthorized"
        "403":
          description: "Forbidden"
        "404":
          description: "Not Found"
      x-swagger-router-controller: "Reports"
  /v2/api/transactions/:
    get:
      tags:
      - "Transactions"
      summary: "Повертає дані по транcакціях"
      operationId: "getTransactionsByStreamUsingGET"
      produces:
      - "application/octet-stream"
      - "application/json"
      parameters:
      - name: "payers_edrpous"
        in: "query"
        description: "Код платника"
        required: false
        type: "array"
        items:
          type: "string"
        collectionFormat: "multi"
      - name: "recipt_edrpous"
        in: "query"
        description: "Код отримувача"
        required: false
        type: "array"
        items:
          type: "string"
        collectionFormat: "multi"
      - name: "regions"
        in: "query"
        description: "Регіон"
        required: false
        type: "array"
        items:
          type: "integer"
          format: "int32"
        collectionFormat: "multi"
      - name: "source"
        in: "query"
        description: "Джерело даних"
        required: false
        type: "string"
        enum:
        - "UZ"
        - "DKSU"
        - "VPF"
      - name: "startdate"
        in: "query"
        description: "Дата з"
        required: false
        type: "string"
        format: "date-time"
      - name: "enddate"
        in: "query"
        description: "Дата по"
        required: false
        type: "string"
        format: "date-time"
      - name: "payer_account"
        in: "query"
        description: "Рахунок платника"
        required: false
        type: "string"
      - name: "recipt_account"
        in: "query"
        description: "Рахунок одержувача"
        required: false
        type: "string"
      - name: "sumFrom"
        in: "query"
        description: "Сума від"
        required: false
        type: "number"
      - name: "sumTo"
        in: "query"
        description: "Сума до"
        required: false
        type: "number"
      - name: "purpose"
        in: "query"
        description: "Призначення платежу"
        required: false
        type: "string"
      - name: "payerName"
        in: "query"
        description: "Назва платника"
        required: false
        type: "string"
      - name: "reciptName"
        in: "query"
        description: "Назва одержувача"
        required: false
        type: "string"
      - name: "payerNameEdrpou"
        in: "query"
        description: "Назва або ЄДРПОУ платника"
        required: false
        type: "string"
      - name: "reciptNameEdrpou"
        in: "query"
        description: "Назва або ЄДРПОУ одержувача"
        required: false
        type: "string"
      - name: "key"
        in: "query"
        description: "key"
        required: false
        type: "string"
      responses:
        "200":
          description: "Повертає масив даних транcакцій по використанню коштів з є\
            диного казначейського кореспондентського рахунку"
          schema:
            type: "array"
            items:
              $ref: "#/definitions/TransactionDTO"
        "401":
          description: "Unauthorized"
        "403":
          description: "Forbidden"
        "404":
          description: "Not Found"
      x-swagger-router-controller: "Transactions"
  /v2/api/transactions/lastload:
    get:
      tags:
      - "Transactions"
      summary: "Повертає дату останнього завантаження даних до БД API"
      operationId: "lastLoadUsingGET_1"
      produces:
      - "application/json"
      parameters: []
      responses:
        "200":
          description: "OK"
          schema:
            type: "array"
            items:
              $ref: "#/definitions/LastLoadDTO"
        "401":
          description: "Unauthorized"
        "403":
          description: "Forbidden"
        "404":
          description: "Not Found"
      x-swagger-router-controller: "Transactions"
  /v2/api/transactions/page/:
    get:
      tags:
      - "Transactions"
      summary: "Запит транcакцій"
      operationId: "getPageUsingGET_1"
      produces:
      - "application/json"
      parameters:
      - name: "payers_edrpous"
        in: "query"
        description: "Код платника"
        required: false
        type: "array"
        items:
          type: "string"
        collectionFormat: "multi"
      - name: "recipt_edrpous"
        in: "query"
        description: "Код отримувача"
        required: false
        type: "array"
        items:
          type: "string"
        collectionFormat: "multi"
      - name: "regions"
        in: "query"
        description: "Регіон"
        required: false
        type: "array"
        items:
          type: "integer"
          format: "int32"
        collectionFormat: "multi"
      - name: "source"
        in: "query"
        description: "Джерело даних"
        required: false
        type: "string"
        enum:
        - "UZ"
        - "DKSU"
        - "VPF"
      - name: "startdate"
        in: "query"
        description: "Дата з"
        required: false
        type: "string"
        format: "date-time"
      - name: "enddate"
        in: "query"
        description: "Дата по"
        required: false
        type: "string"
        format: "date-time"
      - name: "payer_account"
        in: "query"
        description: "Рахунок платника"
        required: false
        type: "string"
      - name: "recipt_account"
        in: "query"
        description: "Рахунок одержувача"
        required: false
        type: "string"
      - name: "sumFrom"
        in: "query"
        description: "Сума від"
        required: false
        type: "number"
      - name: "sumTo"
        in: "query"
        description: "Сума до"
        required: false
        type: "number"
      - name: "purpose"
        in: "query"
        description: "Призначення платежу"
        required: false
        type: "string"
      - name: "payerName"
        in: "query"
        description: "Назва платника"
        required: false
        type: "string"
      - name: "reciptName"
        in: "query"
        description: "Назва одержувача"
        required: false
        type: "string"
      - name: "payerNameEdrpou"
        in: "query"
        description: "Назва або ЄДРПОУ платника"
        required: false
        type: "string"
      - name: "reciptNameEdrpou"
        in: "query"
        description: "Назва або ЄДРПОУ одержувача"
        required: false
        type: "string"
      - name: "page"
        in: "query"
        description: "Сторінка"
        required: false
        type: "integer"
        format: "int32"
      - name: "pageSize"
        in: "query"
        description: "Записів на сторінці"
        required: false
        type: "integer"
        format: "int32"
      responses:
        "200":
          description: "OK"
          schema:
            $ref: "#/definitions/TransactionsPageDTO"
        "401":
          description: "Unauthorized"
        "403":
          description: "Forbidden"
        "404":
          description: "Not Found"
      x-swagger-router-controller: "Transactions"
  /v2/api/transactions/page/ping:
    get:
      tags:
      - "Transactions"
      summary: "Запит транcакцій (page)"
      operationId: "pingUsingGET_9"
      produces:
      - "application/json"
      parameters: []
      responses:
        "200":
          description: "OK"
        "401":
          description: "Unauthorized"
        "403":
          description: "Forbidden"
        "404":
          description: "Not Found"
      x-swagger-router-controller: "Transactions"
  /v2/api/transactions/ping:
    get:
      tags:
      - "Transactions"
      summary: "Перевірка доступності API"
      operationId: "pingUsingGET_8"
      produces:
      - "application/json"
      parameters: []
      responses:
        "200":
          description: "OK"
        "401":
          description: "Unauthorized"
        "403":
          description: "Forbidden"
        "404":
          description: "Not Found"
      x-swagger-router-controller: "Transactions"
  /v2/api/transactions/stat:
    get:
      tags:
      - "Statistic"
      summary: "Повертає агреговану статистику трансакцій на порталі (загальна кіл\
        ькість/сума)"
      operationId: "geAllStatUsingGET"
      produces:
      - "application/json;charset=UTF-8"
      parameters: []
      responses:
        "200":
          description: "OK"
          schema:
            type: "array"
            items:
              $ref: "#/definitions/TransStatDTO"
        "401":
          description: "Unauthorized"
        "403":
          description: "Forbidden"
        "404":
          description: "Not Found"
      x-swagger-router-controller: "Statistic"
  /v2/api/transactions/stat/month:
    get:
      tags:
      - "Statistic"
      summary: "Повертає агреговану статистику трансакцій на порталі (загальна кіл\
        ькість/сума) за поточний місяць"
      operationId: "getCurrMonthStatUsingGET"
      produces:
      - "application/json;charset=UTF-8"
      parameters: []
      responses:
        "200":
          description: "OK"
          schema:
            type: "array"
            items:
              $ref: "#/definitions/TransStatDTO"
        "401":
          description: "Unauthorized"
        "403":
          description: "Forbidden"
        "404":
          description: "Not Found"
      x-swagger-router-controller: "Statistic"
  /v2/api/transactions/stat/ping:
    get:
      tags:
      - "Statistic"
      summary: "Перевірка доступності API"
      operationId: "pingUsingGET_10"
      produces:
      - "application/json;charset=UTF-8"
      parameters: []
      responses:
        "200":
          description: "OK"
        "401":
          description: "Unauthorized"
        "403":
          description: "Forbidden"
        "404":
          description: "Not Found"
      x-swagger-router-controller: "Statistic"
  /v2/api/transactions/stat/year:
    get:
      tags:
      - "Statistic"
      summary: "Повертає агреговану статистику трансакцій на порталі (загальна кіл\
        ькість/сума) за поточный рік"
      operationId: "getCurrYearStatUsingGET"
      produces:
      - "application/json;charset=UTF-8"
      parameters: []
      responses:
        "200":
          description: "OK"
          schema:
            type: "array"
            items:
              $ref: "#/definitions/TransStatDTO"
        "401":
          description: "Unauthorized"
        "403":
          description: "Forbidden"
        "404":
          description: "Not Found"
      x-swagger-router-controller: "Statistic"
  /v2/api/transactions/top100:
    get:
      tags:
      - "Transactions"
      summary: "Повертає Топ 100 транcакцій по регіону"
      operationId: "getTop100UsingGET"
      produces:
      - "application/octet-stream"
      - "application/json"
      parameters:
      - name: "region"
        in: "query"
        description: "region"
        required: false
        type: "array"
        items:
          type: "integer"
          format: "int32"
        collectionFormat: "multi"
      responses:
        "200":
          description: "Повертає Топ 100 транcакцій по регіону"
          schema:
            type: "array"
            items:
              $ref: "#/definitions/TransactionDTO"
        "401":
          description: "Unauthorized"
        "403":
          description: "Forbidden"
        "404":
          description: "Not Found"
      x-swagger-router-controller: "Transactions"
  /v2/api/transactions/top5:
    get:
      tags:
      - "Transactions"
      summary: "Повертає Топ 5 транcакцій по Україні"
      operationId: "getTop5UsingGET"
      produces:
      - "application/json"
      parameters: []
      responses:
        "200":
          description: "Повертає Топ 5 транcакцій по Україні"
          schema:
            type: "array"
            items:
              $ref: "#/definitions/TopTransaction"
        "401":
          description: "Unauthorized"
        "403":
          description: "Forbidden"
        "404":
          description: "Not Found"
      x-swagger-router-controller: "Transactions"
  /v2/api/transactions/{disposer}/{transactionId}:
    get:
      tags:
      - "Transactions"
      summary: "Запит транcакцій"
      operationId: "getTransactionDetailsUsingGET"
      produces:
      - "application/json"
      parameters:
      - name: "disposer"
        in: "path"
        description: "disposer"
        required: true
        type: "string"
      - name: "transactionId"
        in: "path"
        description: "transactionId"
        required: true
        type: "integer"
        format: "int64"
      responses:
        "200":
          description: "OK"
          schema:
            $ref: "#/definitions/TransactionDTO"
        "401":
          description: "Unauthorized"
        "403":
          description: "Forbidden"
        "404":
          description: "Not Found"
      x-swagger-router-controller: "Transactions"
  /v2/budget/dict/inc:
    get:
      tags:
      - "budget"
      summary: "Класифікація доходів бюджету"
      operationId: "incUsingGET"
      produces:
      - "application/json"
      parameters:
      - name: "Authorization"
        in: "header"
        description: "Authorization"
        required: true
        type: "string"
      responses:
        "200":
          description: "OK"
          schema:
            type: "array"
            items:
              $ref: "#/definitions/DicIncDto"
        "401":
          description: "Unauthorized"
        "403":
          description: "Forbidden"
        "404":
          description: "Not Found"
      x-swagger-router-controller: "Budget"
  /v2/budget/dict/kek:
    get:
      tags:
      - "budget"
      summary: "Класифікація доходів бюджету"
      operationId: "kekUsingGET"
      produces:
      - "application/json"
      parameters:
      - name: "Authorization"
        in: "header"
        description: "Authorization"
        required: true
        type: "string"
      responses:
        "200":
          description: "OK"
          schema:
            type: "array"
            items:
              $ref: "#/definitions/DicKekDto"
        "401":
          description: "Unauthorized"
        "403":
          description: "Forbidden"
        "404":
          description: "Not Found"
      x-swagger-router-controller: "Budget"
  /v2/dictionaries/DKSUdepartments:
    get:
      tags:
      - "Dictionaries"
      summary: "Повертає довідник регіонів"
      operationId: "getDksuDepartmentsUsingGET"
      produces:
      - "application/json"
      parameters: []
      responses:
        "200":
          description: "OK"
          schema:
            type: "array"
            items:
              $ref: "#/definitions/Regions"
        "401":
          description: "Unauthorized"
        "403":
          description: "Forbidden"
        "404":
          description: "Not Found"
      x-swagger-router-controller: "Dictionaries"
  /v2/dictionaries/contractors:
    get:
      tags:
      - "Dictionaries"
      summary: "Повертає довідник типів контрагентів"
      operationId: "getContractorTypesUsingGET"
      produces:
      - "application/json"
      parameters: []
      responses:
        "200":
          description: "OK"
          schema:
            type: "array"
            items:
              $ref: "#/definitions/ContractorType"
        "401":
          description: "Unauthorized"
        "403":
          description: "Forbidden"
        "404":
          description: "Not Found"
      x-swagger-router-controller: "Dictionaries"
  /v2/dictionaries/countries:
    get:
      tags:
      - "Dictionaries"
      summary: "Повертає довідник країн"
      operationId: "getCountriesUsingGET"
      produces:
      - "application/json"
      parameters: []
      responses:
        "200":
          description: "OK"
          schema:
            type: "array"
            items:
              $ref: "#/definitions/Country"
        "401":
          description: "Unauthorized"
        "403":
          description: "Forbidden"
        "404":
          description: "Not Found"
      x-swagger-router-controller: "Dictionaries"
  /v2/dictionaries/currency:
    get:
      tags:
      - "Dictionaries"
      summary: "Повертає довідник валют"
      operationId: "getCurrencyListUsingGET"
      produces:
      - "application/json"
      parameters: []
      responses:
        "200":
          description: "OK"
          schema:
            type: "array"
            items:
              $ref: "#/definitions/Country"
        "401":
          description: "Unauthorized"
        "403":
          description: "Forbidden"
        "404":
          description: "Not Found"
      x-swagger-router-controller: "Dictionaries"
  /v2/dictionaries/dkpp:
    get:
      tags:
      - "Dictionaries"
      summary: "Повертає довідник ДКПП"
      operationId: "getDkppUsingGET"
      produces:
      - "application/json"
      parameters: []
      responses:
        "200":
          description: "OK"
          schema:
            type: "array"
            items:
              $ref: "#/definitions/DkppDict"
        "401":
          description: "Unauthorized"
        "403":
          description: "Forbidden"
        "404":
          description: "Not Found"
      x-swagger-router-controller: "Dictionaries"
  /v2/dictionaries/koatuu:
    get:
      tags:
      - "Dictionaries"
      summary: "Повертає адресу за КОАТУУ"
      operationId: "getAddressByKoatuuUsingGET"
      produces:
      - "application/json"
      parameters:
      - name: "koatuu"
        in: "query"
        description: "koatuu"
        required: true
        type: "string"
      responses:
        "200":
          description: "OK"
          schema:
            $ref: "#/definitions/ShortAddressDTO"
        "401":
          description: "Unauthorized"
        "403":
          description: "Forbidden"
        "404":
          description: "Not Found"
      x-swagger-router-controller: "Dictionaries"
  /v2/dictionaries/kopfg:
    get:
      tags:
      - "Dictionaries"
      summary: "Повертає довідник КОПФГ"
      operationId: "getKopfgUsingGET"
      produces:
      - "application/json"
      parameters: []
      responses:
        "200":
          description: "OK"
          schema:
            type: "array"
            items:
              $ref: "#/definitions/KvedDict"
        "401":
          description: "Unauthorized"
        "403":
          description: "Forbidden"
        "404":
          description: "Not Found"
      x-swagger-router-controller: "Dictionaries"
  /v2/dictionaries/kved:
    get:
      tags:
      - "Dictionaries"
      summary: "Повертає довідник КВЕД"
      operationId: "getKvedUsingGET"
      produces:
      - "application/json"
      parameters: []
      responses:
        "200":
          description: "OK"
          schema:
            type: "array"
            items:
              $ref: "#/definitions/KvedDict"
        "401":
          description: "Unauthorized"
        "403":
          description: "Forbidden"
        "404":
          description: "Not Found"
      x-swagger-router-controller: "Dictionaries"
  /v2/dictionaries/kved/{exactKved}:
    get:
      tags:
      - "Dictionaries"
      summary: "Повертає КВЕД"
      operationId: "getExactKvedUsingGET"
      produces:
      - "application/json"
      parameters:
      - name: "exactKved"
        in: "path"
        description: "exactKved"
        required: true
        type: "string"
      responses:
        "200":
          description: "OK"
          schema:
            $ref: "#/definitions/KvedDict"
        "401":
          description: "Unauthorized"
        "403":
          description: "Forbidden"
        "404":
          description: "Not Found"
      x-swagger-router-controller: "Dictionaries"
  /v2/dictionaries/organizationtypes:
    get:
      tags:
      - "Dictionaries"
      summary: "Повертає довідник типів організацій"
      operationId: "getOrgTypesUsingGET"
      produces:
      - "application/json"
      parameters: []
      responses:
        "200":
          description: "OK"
          schema:
            type: "array"
            items:
              $ref: "#/definitions/OrganizationTypesDict"
        "401":
          description: "Unauthorized"
        "403":
          description: "Forbidden"
        "404":
          description: "Not Found"
      x-swagger-router-controller: "Dictionaries"
  /v2/dictionaries/ping:
    get:
      tags:
      - "Dictionaries"
      summary: "Перевірка доступності API"
      operationId: "pingUsingGET_1"
      produces:
      - "application/json"
      parameters: []
      responses:
        "200":
          description: "OK"
        "401":
          description: "Unauthorized"
        "403":
          description: "Forbidden"
        "404":
          description: "Not Found"
      x-swagger-router-controller: "Dictionaries"
  /v2/dictionaries/procurement:
    get:
      tags:
      - "Dictionaries"
      summary: "Повертає довідник CPV"
      operationId: "getProcurementDictionaryUsingGET"
      produces:
      - "application/json"
      parameters:
      - name: "lang"
        in: "query"
        description: "lang"
        required: false
        type: "string"
      responses:
        "200":
          description: "OK"
          schema:
            type: "array"
            items:
              $ref: "#/definitions/Procurement"
        "401":
          description: "Unauthorized"
        "403":
          description: "Forbidden"
        "404":
          description: "Not Found"
      x-swagger-router-controller: "Dictionaries"
  /v2/dictionaries/regions:
    get:
      tags:
      - "Dictionaries"
      summary: "Повертає довідник регіонів"
      operationId: "getRegionsUsingGET"
      produces:
      - "application/json"
      parameters: []
      responses:
        "200":
          description: "OK"
          schema:
            type: "array"
            items:
              $ref: "#/definitions/Regions"
        "401":
          description: "Unauthorized"
        "403":
          description: "Forbidden"
        "404":
          description: "Not Found"
      x-swagger-router-controller: "Dictionaries"
  /v2/disposers/acts:
    get:
      tags:
      - "Disposers"
      summary: "Get acts of edrpou"
      operationId: "getActsUsingGET"
      produces:
      - "application/json"
      parameters:
      - name: "documentId"
        in: "query"
        description: "Ідентифікатор документу"
        required: false
        type: "array"
        items:
          type: "string"
        collectionFormat: "multi"
      - name: "disposerId"
        in: "query"
        description: "ЄДРПОУ розпорядника"
        required: false
        type: "array"
        items:
          type: "string"
        collectionFormat: "multi"
      - name: "contractorId"
        in: "query"
        description: "ЄДРПОУ контрагента"
        required: false
        type: "array"
        items:
          type: "string"
        collectionFormat: "multi"
      - name: "currency"
        in: "query"
        description: "Валюта"
        required: false
        type: "array"
        items:
          type: "string"
        collectionFormat: "multi"
      - name: "names"
        in: "query"
        description: "Назва контрагента"
        required: false
        type: "array"
        items:
          type: "string"
        collectionFormat: "multi"
      - name: "documentDateFrom"
        in: "query"
        description: "Діапазон пошуку за датою документа (дата з, включно)"
        required: false
        type: "string"
        format: "date-time"
      - name: "documentDateTo"
        in: "query"
        description: "Діапазон пошуку за датою документа (дата по, включно)"
        required: false
        type: "string"
        format: "date-time"
      - name: "signDateFrom"
        in: "query"
        description: "Діапазон пошуку за датою підпису документа (дата з, включно)"
        required: false
        type: "string"
        format: "date-time"
      - name: "signDateTo"
        in: "query"
        description: "Діапазон пошуку за датою підпису документа (дата по, включно\
          )"
        required: false
        type: "string"
        format: "date-time"
      - name: "amountFrom"
        in: "query"
        description: "Діапазон пошуку по сумі (сума з, включно)"
        required: false
        type: "number"
        format: "double"
      - name: "amountTo"
        in: "query"
        description: "Діапазон пошуку по сумі (сума по, включно)"
        required: false
        type: "number"
        format: "double"
      - name: "documentNumber"
        in: "query"
        description: "Номер документу. При пошуку за номером документу необхідно в\
          казати ЄДРПОУ розпорядника"
        required: false
        type: "string"
      - name: "version"
        in: "query"
        description: "Наявність версій"
        required: false
        type: "boolean"
      responses:
        "200":
          description: "OK"
          schema:
            $ref: "#/definitions/DocumentResultDTO«ActDTO»"
        "401":
          description: "Unauthorized"
        "403":
          description: "Forbidden"
        "404":
          description: "Not Found"
      x-swagger-router-controller: "Disposers"
  /v2/disposers/acts/{actId}:
    get:
      tags:
      - "Disposers"
      summary: "Get act by id"
      operationId: "getActUsingGET"
      produces:
      - "application/json"
      parameters:
      - name: "actId"
        in: "path"
        description: "actId"
        required: true
        type: "integer"
        format: "int64"
      responses:
        "200":
          description: "OK"
          schema:
            $ref: "#/definitions/ActDTO"
        "401":
          description: "Unauthorized"
        "403":
          description: "Forbidden"
        "404":
          description: "Not Found"
      x-swagger-router-controller: "Disposers"
  /v2/disposers/acts/{edrpou}/csv:
    get:
      tags:
      - "Disposers"
      summary: "Export acts to csv"
      operationId: "getCsvActsUsingGET"
      produces:
      - "application/octet-stream"
      parameters:
      - name: "edrpou"
        in: "path"
        description: "edrpou"
        required: true
        type: "string"
      - name: "documentId"
        in: "query"
        description: "Ідентифікатор документу"
        required: false
        type: "array"
        items:
          type: "string"
        collectionFormat: "multi"
      - name: "disposerId"
        in: "query"
        description: "ЄДРПОУ розпорядника"
        required: false
        type: "array"
        items:
          type: "string"
        collectionFormat: "multi"
      - name: "contractorId"
        in: "query"
        description: "ЄДРПОУ контрагента"
        required: false
        type: "array"
        items:
          type: "string"
        collectionFormat: "multi"
      - name: "currency"
        in: "query"
        description: "Валюта"
        required: false
        type: "array"
        items:
          type: "string"
        collectionFormat: "multi"
      - name: "names"
        in: "query"
        description: "Назва контрагента"
        required: false
        type: "array"
        items:
          type: "string"
        collectionFormat: "multi"
      - name: "documentDateFrom"
        in: "query"
        description: "Діапазон пошуку за датою документа (дата з, включно)"
        required: false
        type: "string"
        format: "date-time"
      - name: "documentDateTo"
        in: "query"
        description: "Діапазон пошуку за датою документа (дата по, включно)"
        required: false
        type: "string"
        format: "date-time"
      - name: "signDateFrom"
        in: "query"
        description: "Діапазон пошуку за датою підпису документа (дата з, включно)"
        required: false
        type: "string"
        format: "date-time"
      - name: "signDateTo"
        in: "query"
        description: "Діапазон пошуку за датою підпису документа (дата по, включно\
          )"
        required: false
        type: "string"
        format: "date-time"
      - name: "amountFrom"
        in: "query"
        description: "Діапазон пошуку по сумі (сума з, включно)"
        required: false
        type: "number"
        format: "double"
      - name: "amountTo"
        in: "query"
        description: "Діапазон пошуку по сумі (сума по, включно)"
        required: false
        type: "number"
        format: "double"
      - name: "documentNumber"
        in: "query"
        description: "Номер документу. При пошуку за номером документу необхідно в\
          казати ЄДРПОУ розпорядника"
        required: false
        type: "string"
      - name: "version"
        in: "query"
        description: "Наявність версій"
        required: false
        type: "boolean"
      responses:
        "200":
          description: "OK"
        "401":
          description: "Unauthorized"
        "403":
          description: "Forbidden"
        "404":
          description: "Not Found"
      x-swagger-router-controller: "Disposers"
  /v2/disposers/addendums:
    get:
      tags:
      - "Disposers"
      summary: "Get addendums of edrpou"
      operationId: "getAddendsUsingGET"
      produces:
      - "application/json"
      parameters:
      - name: "documentId"
        in: "query"
        description: "Ідентифікатор документу"
        required: false
        type: "array"
        items:
          type: "string"
        collectionFormat: "multi"
      - name: "disposerId"
        in: "query"
        description: "ЄДРПОУ розпорядника"
        required: false
        type: "array"
        items:
          type: "string"
        collectionFormat: "multi"
      - name: "contractorId"
        in: "query"
        description: "ЄДРПОУ контрагента"
        required: false
        type: "array"
        items:
          type: "string"
        collectionFormat: "multi"
      - name: "currency"
        in: "query"
        description: "Валюта"
        required: false
        type: "array"
        items:
          type: "string"
        collectionFormat: "multi"
      - name: "names"
        in: "query"
        description: "Назва контрагента"
        required: false
        type: "array"
        items:
          type: "string"
        collectionFormat: "multi"
      - name: "documentDateFrom"
        in: "query"
        description: "Діапазон пошуку за датою документа (дата з, включно)"
        required: false
        type: "string"
        format: "date-time"
      - name: "documentDateTo"
        in: "query"
        description: "Діапазон пошуку за датою документа (дата по, включно)"
        required: false
        type: "string"
        format: "date-time"
      - name: "signDateFrom"
        in: "query"
        description: "Діапазон пошуку за датою підпису документа (дата з, включно)"
        required: false
        type: "string"
        format: "date-time"
      - name: "signDateTo"
        in: "query"
        description: "Діапазон пошуку за датою підпису документа (дата по, включно\
          )"
        required: false
        type: "string"
        format: "date-time"
      - name: "amountFrom"
        in: "query"
        description: "Діапазон пошуку по сумі (сума з, включно)"
        required: false
        type: "number"
        format: "double"
      - name: "amountTo"
        in: "query"
        description: "Діапазон пошуку по сумі (сума по, включно)"
        required: false
        type: "number"
        format: "double"
      - name: "documentNumber"
        in: "query"
        description: "Номер документу. При пошуку за номером документу необхідно в\
          казати ЄДРПОУ розпорядника"
        required: false
        type: "string"
      - name: "version"
        in: "query"
        description: "Наявність версій"
        required: false
        type: "boolean"
      responses:
        "200":
          description: "OK"
          schema:
            $ref: "#/definitions/DocumentResultDTO«AddendumDTO»"
        "401":
          description: "Unauthorized"
        "403":
          description: "Forbidden"
        "404":
          description: "Not Found"
      x-swagger-router-controller: "Disposers"
  /v2/disposers/addendums/{addendumId}:
    get:
      tags:
      - "Disposers"
      summary: "Get addendum by id"
      operationId: "getAddendumUsingGET"
      produces:
      - "application/json"
      parameters:
      - name: "addendumId"
        in: "path"
        description: "addendumId"
        required: true
        type: "integer"
        format: "int64"
      responses:
        "200":
          description: "OK"
          schema:
            $ref: "#/definitions/AddendumDTO"
        "401":
          description: "Unauthorized"
        "403":
          description: "Forbidden"
        "404":
          description: "Not Found"
      x-swagger-router-controller: "Disposers"
  /v2/disposers/addendums/{edrpou}/csv:
    get:
      tags:
      - "Disposers"
      summary: "Export addendums to csv"
      operationId: "getCsvAddendumsUsingGET"
      produces:
      - "application/octet-stream"
      parameters:
      - name: "edrpou"
        in: "path"
        description: "edrpou"
        required: true
        type: "string"
      - name: "documentId"
        in: "query"
        description: "Ідентифікатор документу"
        required: false
        type: "array"
        items:
          type: "string"
        collectionFormat: "multi"
      - name: "disposerId"
        in: "query"
        description: "ЄДРПОУ розпорядника"
        required: false
        type: "array"
        items:
          type: "string"
        collectionFormat: "multi"
      - name: "contractorId"
        in: "query"
        description: "ЄДРПОУ контрагента"
        required: false
        type: "array"
        items:
          type: "string"
        collectionFormat: "multi"
      - name: "currency"
        in: "query"
        description: "Валюта"
        required: false
        type: "array"
        items:
          type: "string"
        collectionFormat: "multi"
      - name: "names"
        in: "query"
        description: "Назва контрагента"
        required: false
        type: "array"
        items:
          type: "string"
        collectionFormat: "multi"
      - name: "documentDateFrom"
        in: "query"
        description: "Діапазон пошуку за датою документа (дата з, включно)"
        required: false
        type: "string"
        format: "date-time"
      - name: "documentDateTo"
        in: "query"
        description: "Діапазон пошуку за датою документа (дата по, включно)"
        required: false
        type: "string"
        format: "date-time"
      - name: "signDateFrom"
        in: "query"
        description: "Діапазон пошуку за датою підпису документа (дата з, включно)"
        required: false
        type: "string"
        format: "date-time"
      - name: "signDateTo"
        in: "query"
        description: "Діапазон пошуку за датою підпису документа (дата по, включно\
          )"
        required: false
        type: "string"
        format: "date-time"
      - name: "amountFrom"
        in: "query"
        description: "Діапазон пошуку по сумі (сума з, включно)"
        required: false
        type: "number"
        format: "double"
      - name: "amountTo"
        in: "query"
        description: "Діапазон пошуку по сумі (сума по, включно)"
        required: false
        type: "number"
        format: "double"
      - name: "documentNumber"
        in: "query"
        description: "Номер документу. При пошуку за номером документу необхідно в\
          казати ЄДРПОУ розпорядника"
        required: false
        type: "string"
      - name: "version"
        in: "query"
        description: "Наявність версій"
        required: false
        type: "boolean"
      responses:
        "200":
          description: "OK"
        "401":
          description: "Unauthorized"
        "403":
          description: "Forbidden"
        "404":
          description: "Not Found"
      x-swagger-router-controller: "Disposers"
  /v2/disposers/contracts:
    get:
      tags:
      - "Disposers"
      summary: "Get agreements of edrpou"
      operationId: "getAgreementsUsingGET"
      produces:
      - "application/json"
      parameters:
      - name: "documentId"
        in: "query"
        description: "Ідентифікатор документу"
        required: false
        type: "array"
        items:
          type: "string"
        collectionFormat: "multi"
      - name: "disposerId"
        in: "query"
        description: "ЄДРПОУ розпорядника"
        required: false
        type: "array"
        items:
          type: "string"
        collectionFormat: "multi"
      - name: "contractorId"
        in: "query"
        description: "ЄДРПОУ контрагента"
        required: false
        type: "array"
        items:
          type: "string"
        collectionFormat: "multi"
      - name: "currency"
        in: "query"
        description: "Валюта"
        required: false
        type: "array"
        items:
          type: "string"
        collectionFormat: "multi"
      - name: "names"
        in: "query"
        description: "Назва контрагента"
        required: false
        type: "array"
        items:
          type: "string"
        collectionFormat: "multi"
      - name: "documentDateFrom"
        in: "query"
        description: "Діапазон пошуку за датою документа (дата з, включно)"
        required: false
        type: "string"
        format: "date-time"
      - name: "documentDateTo"
        in: "query"
        description: "Діапазон пошуку за датою документа (дата по, включно)"
        required: false
        type: "string"
        format: "date-time"
      - name: "signDateFrom"
        in: "query"
        description: "Діапазон пошуку за датою підпису документа (дата з, включно)"
        required: false
        type: "string"
        format: "date-time"
      - name: "signDateTo"
        in: "query"
        description: "Діапазон пошуку за датою підпису документа (дата по, включно\
          )"
        required: false
        type: "string"
        format: "date-time"
      - name: "amountFrom"
        in: "query"
        description: "Діапазон пошуку по сумі (сума з, включно)"
        required: false
        type: "number"
        format: "double"
      - name: "amountTo"
        in: "query"
        description: "Діапазон пошуку по сумі (сума по, включно)"
        required: false
        type: "number"
        format: "double"
      - name: "documentNumber"
        in: "query"
        description: "Номер документу. При пошуку за номером документу необхідно в\
          казати ЄДРПОУ розпорядника"
        required: false
        type: "string"
      - name: "version"
        in: "query"
        description: "Наявність версій"
        required: false
        type: "boolean"
      - name: "enabledInDateFrom"
        in: "query"
        description: "Пошук за діапазоном дії договору (дата з, включно)"
        required: false
        type: "string"
        format: "date-time"
      - name: "enabledInDateTo"
        in: "query"
        description: "Пошук за діапазоном дії договору (дата по, включно)"
        required: false
        type: "string"
        format: "date-time"
      responses:
        "200":
          description: "OK"
          schema:
            $ref: "#/definitions/DocumentResultDTO«ContractDTO»"
        "401":
          description: "Unauthorized"
        "403":
          description: "Forbidden"
        "404":
          description: "Not Found"
      x-swagger-router-controller: "Disposers"
  /v2/disposers/contracts/{contractId}:
    get:
      tags:
      - "Disposers"
      summary: "Get agreement with related documents by agreement id"
      operationId: "getContractUsingGET"
      produces:
      - "application/json"
      parameters:
      - name: "contractId"
        in: "path"
        description: "contractId"
        required: true
        type: "integer"
        format: "int64"
      responses:
        "200":
          description: "OK"
          schema:
            $ref: "#/definitions/ContractWithSubdocumentsDTO"
        "401":
          description: "Unauthorized"
        "403":
          description: "Forbidden"
        "404":
          description: "Not Found"
      x-swagger-router-controller: "Disposers"
  /v2/disposers/contracts/{edrpou}/csv:
    get:
      tags:
      - "Disposers"
      summary: "Export agreements of edrpou to csv"
      operationId: "getCsvAgreementsUsingGET"
      produces:
      - "application/octet-stream"
      parameters:
      - name: "edrpou"
        in: "path"
        description: "edrpou"
        required: true
        type: "string"
      - name: "documentId"
        in: "query"
        description: "Ідентифікатор документу"
        required: false
        type: "array"
        items:
          type: "string"
        collectionFormat: "multi"
      - name: "disposerId"
        in: "query"
        description: "ЄДРПОУ розпорядника"
        required: false
        type: "array"
        items:
          type: "string"
        collectionFormat: "multi"
      - name: "contractorId"
        in: "query"
        description: "ЄДРПОУ контрагента"
        required: false
        type: "array"
        items:
          type: "string"
        collectionFormat: "multi"
      - name: "currency"
        in: "query"
        description: "Валюта"
        required: false
        type: "array"
        items:
          type: "string"
        collectionFormat: "multi"
      - name: "names"
        in: "query"
        description: "Назва контрагента"
        required: false
        type: "array"
        items:
          type: "string"
        collectionFormat: "multi"
      - name: "documentDateFrom"
        in: "query"
        description: "Діапазон пошуку за датою документа (дата з, включно)"
        required: false
        type: "string"
        format: "date-time"
      - name: "documentDateTo"
        in: "query"
        description: "Діапазон пошуку за датою документа (дата по, включно)"
        required: false
        type: "string"
        format: "date-time"
      - name: "signDateFrom"
        in: "query"
        description: "Діапазон пошуку за датою підпису документа (дата з, включно)"
        required: false
        type: "string"
        format: "date-time"
      - name: "signDateTo"
        in: "query"
        description: "Діапазон пошуку за датою підпису документа (дата по, включно\
          )"
        required: false
        type: "string"
        format: "date-time"
      - name: "amountFrom"
        in: "query"
        description: "Діапазон пошуку по сумі (сума з, включно)"
        required: false
        type: "number"
        format: "double"
      - name: "amountTo"
        in: "query"
        description: "Діапазон пошуку по сумі (сума по, включно)"
        required: false
        type: "number"
        format: "double"
      - name: "documentNumber"
        in: "query"
        description: "Номер документу. При пошуку за номером документу необхідно в\
          казати ЄДРПОУ розпорядника"
        required: false
        type: "string"
      - name: "version"
        in: "query"
        description: "Наявність версій"
        required: false
        type: "boolean"
      - name: "enabledInDateFrom"
        in: "query"
        description: "Пошук за діапазоном дії договору (дата з, включно)"
        required: false
        type: "string"
        format: "date-time"
      - name: "enabledInDateTo"
        in: "query"
        description: "Пошук за діапазоном дії договору (дата по, включно)"
        required: false
        type: "string"
        format: "date-time"
      responses:
        "200":
          description: "OK"
        "401":
          description: "Unauthorized"
        "403":
          description: "Forbidden"
        "404":
          description: "Not Found"
      x-swagger-router-controller: "Disposers"
  /v2/disposers/csv:
    get:
      tags:
      - "Disposers"
      summary: "Завантажити csv розпорядників"
      operationId: "getDisposersCsvUsingGET"
      produces:
      - "application/octet-stream"
      parameters:
      - name: "regionIds"
        in: "query"
        required: false
        type: "array"
        items:
          type: "integer"
          format: "int32"
        collectionFormat: "multi"
      - name: "edrpou"
        in: "query"
        required: false
        type: "string"
      - name: "organizationName"
        in: "query"
        required: false
        type: "string"
      - name: "kopfg"
        in: "query"
        required: false
        type: "integer"
        format: "int32"
      - name: "orgEdrState"
        in: "query"
        required: false
        type: "integer"
        format: "int32"
      - name: "hasCabinet"
        in: "query"
        required: false
        type: "boolean"
      responses:
        "200":
          description: "OK"
          schema:
            $ref: "#/definitions/InputStreamResource"
        "401":
          description: "Unauthorized"
        "403":
          description: "Forbidden"
        "404":
          description: "Not Found"
      x-swagger-router-controller: "Disposers"
  /v2/disposers/documents/signinfo:
    post:
      tags:
      - "Disposers"
      summary: "Get signature details of Contract/Act/ect"
      operationId: "getReportInfoUsingPOST"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - in: "body"
        name: "checkSignReq"
        description: "checkSignReq"
        required: true
        schema:
          $ref: "#/definitions/CheckSignRequestDTO"
      responses:
        "200":
          description: "OK"
          schema:
            type: "string"
        "201":
          description: "Created"
        "401":
          description: "Unauthorized"
        "403":
          description: "Forbidden"
        "404":
          description: "Not Found"
      x-swagger-router-controller: "Disposers"
  /v2/disposers/files:
    get:
      tags:
      - "Disposers"
      summary: "Повертає перелік згенерованих файлів"
      operationId: "getFilesListUsingGET"
      produces:
      - "application/json"
      parameters: []
      responses:
        "200":
          description: "OK"
          schema:
            type: "array"
            items:
              $ref: "#/definitions/FileDTO"
        "401":
          description: "Unauthorized"
        "403":
          description: "Forbidden"
        "404":
          description: "Not Found"
      x-swagger-router-controller: "Disposers"
  /v2/disposers/page:
    post:
      tags:
      - "Pageable Disposers"
      summary: "Get disposer (page)"
      operationId: "getDisposersUsingPOST"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - in: "body"
        name: "request"
        description: "request"
        required: true
        schema:
          $ref: "#/definitions/PagedRequest«DistributorRequest»"
      responses:
        "200":
          description: "OK"
          schema:
            $ref: "#/definitions/PageResult«DistributorDTO»"
        "201":
          description: "Created"
        "401":
          description: "Unauthorized"
        "403":
          description: "Forbidden"
        "404":
          description: "Not Found"
      x-swagger-router-controller: "PageableDisposers"
  /v2/disposers/page/ministries:
    post:
      tags:
      - "Pageable Disposers"
      summary: "Get disposer (page)"
      operationId: "getMinistriesUsingPOST"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - in: "body"
        name: "request"
        description: "request"
        required: true
        schema:
          $ref: "#/definitions/PagedRequest«Void»"
      responses:
        "200":
          description: "OK"
          schema:
            $ref: "#/definitions/PageResult«DistributorDTO»"
        "201":
          description: "Created"
        "401":
          description: "Unauthorized"
        "403":
          description: "Forbidden"
        "404":
          description: "Not Found"
      x-swagger-router-controller: "PageableDisposers"
  /v2/disposers/page/ping:
    get:
      tags:
      - "Pageable Disposers"
      summary: "Перевірка доступності API"
      operationId: "pingUsingGET_3"
      produces:
      - "application/json"
      parameters: []
      responses:
        "200":
          description: "OK"
        "401":
          description: "Unauthorized"
        "403":
          description: "Forbidden"
        "404":
          description: "Not Found"
      x-swagger-router-controller: "PageableDisposers"
  /v2/disposers/page/{docType}:
    get:
      tags:
      - "Pageable Disposers"
      summary: "Get page of documents"
      operationId: "getDocUsingGET"
      produces:
      - "*/*"
      parameters:
      - name: "docType"
        in: "path"
        description: "docType"
        required: true
        type: "string"
      - name: "X-FILTER-DATA"
        in: "header"
        description: "X-FILTER-DATA"
        required: false
        type: "string"
      - name: "documentId"
        in: "query"
        description: "Ідентифікатор документу"
        required: false
        type: "array"
        items:
          type: "string"
        collectionFormat: "multi"
      - name: "disposerId"
        in: "query"
        description: "ЄДРПОУ розпорядника"
        required: false
        type: "array"
        items:
          type: "string"
        collectionFormat: "multi"
      - name: "contractorId"
        in: "query"
        description: "ЄДРПОУ контрагента"
        required: false
        type: "array"
        items:
          type: "string"
        collectionFormat: "multi"
      - name: "currency"
        in: "query"
        description: "Валюта"
        required: false
        type: "array"
        items:
          type: "string"
        collectionFormat: "multi"
      - name: "names"
        in: "query"
        description: "Назва контрагента"
        required: false
        type: "array"
        items:
          type: "string"
        collectionFormat: "multi"
      - name: "documentDateFrom"
        in: "query"
        description: "Діапазон пошуку за датою документа (дата з, включно)"
        required: false
        type: "string"
        format: "date-time"
      - name: "documentDateTo"
        in: "query"
        description: "Діапазон пошуку за датою документа (дата по, включно)"
        required: false
        type: "string"
        format: "date-time"
      - name: "signDateFrom"
        in: "query"
        description: "Діапазон пошуку за датою підпису документа (дата з, включно)"
        required: false
        type: "string"
        format: "date-time"
      - name: "signDateTo"
        in: "query"
        description: "Діапазон пошуку за датою підпису документа (дата по, включно\
          )"
        required: false
        type: "string"
        format: "date-time"
      - name: "amountFrom"
        in: "query"
        description: "Діапазон пошуку по сумі (сума з, включно)"
        required: false
        type: "number"
        format: "double"
      - name: "amountTo"
        in: "query"
        description: "Діапазон пошуку по сумі (сума по, включно)"
        required: false
        type: "number"
        format: "double"
      - name: "documentNumber"
        in: "query"
        description: "Номер документу. При пошуку за номером документу необхідно в\
          казати ЄДРПОУ розпорядника"
        required: false
        type: "string"
      - name: "version"
        in: "query"
        description: "Наявність версій"
        required: false
        type: "boolean"
      - name: "page"
        in: "query"
        description: "Номер сторінки"
        required: false
        type: "integer"
        format: "int32"
      - name: "pageSize"
        in: "query"
        description: "Кількість елементів на сторінці"
        required: false
        type: "integer"
        format: "int32"
      - name: "enabledInDateFrom"
        in: "query"
        description: "Пошук за діапазоном дії договору (дата з, включно)"
        required: false
        type: "string"
        format: "date-time"
      - name: "enabledInDateTo"
        in: "query"
        description: "Пошук за діапазоном дії договору (дата по, включно)"
        required: false
        type: "string"
        format: "date-time"
      responses:
        "200":
          description: "OK"
          schema:
            $ref: "#/definitions/PageResult«DocumentDTO»"
        "401":
          description: "Unauthorized"
        "403":
          description: "Forbidden"
        "404":
          description: "Not Found"
      x-swagger-router-controller: "PageableDisposers"
  /v2/disposers/peny:
    get:
      tags:
      - "Disposers"
      summary: "Get peny of edrpou"
      operationId: "getPenyUsingGET"
      produces:
      - "application/json"
      parameters:
      - name: "documentId"
        in: "query"
        description: "Ідентифікатор документу"
        required: false
        type: "array"
        items:
          type: "string"
        collectionFormat: "multi"
      - name: "disposerId"
        in: "query"
        description: "ЄДРПОУ розпорядника"
        required: false
        type: "array"
        items:
          type: "string"
        collectionFormat: "multi"
      - name: "contractorId"
        in: "query"
        description: "ЄДРПОУ контрагента"
        required: false
        type: "array"
        items:
          type: "string"
        collectionFormat: "multi"
      - name: "currency"
        in: "query"
        description: "Валюта"
        required: false
        type: "array"
        items:
          type: "string"
        collectionFormat: "multi"
      - name: "names"
        in: "query"
        description: "Назва контрагента"
        required: false
        type: "array"
        items:
          type: "string"
        collectionFormat: "multi"
      - name: "documentDateFrom"
        in: "query"
        description: "Діапазон пошуку за датою документа (дата з, включно)"
        required: false
        type: "string"
        format: "date-time"
      - name: "documentDateTo"
        in: "query"
        description: "Діапазон пошуку за датою документа (дата по, включно)"
        required: false
        type: "string"
        format: "date-time"
      - name: "signDateFrom"
        in: "query"
        description: "Діапазон пошуку за датою підпису документа (дата з, включно)"
        required: false
        type: "string"
        format: "date-time"
      - name: "signDateTo"
        in: "query"
        description: "Діапазон пошуку за датою підпису документа (дата по, включно\
          )"
        required: false
        type: "string"
        format: "date-time"
      - name: "amountFrom"
        in: "query"
        description: "Діапазон пошуку по сумі (сума з, включно)"
        required: false
        type: "number"
        format: "double"
      - name: "amountTo"
        in: "query"
        description: "Діапазон пошуку по сумі (сума по, включно)"
        required: false
        type: "number"
        format: "double"
      - name: "documentNumber"
        in: "query"
        description: "Номер документу. При пошуку за номером документу необхідно в\
          казати ЄДРПОУ розпорядника"
        required: false
        type: "string"
      - name: "version"
        in: "query"
        description: "Наявність версій"
        required: false
        type: "boolean"
      responses:
        "200":
          description: "OK"
          schema:
            $ref: "#/definitions/DocumentResultDTO«PenyDTO»"
        "401":
          description: "Unauthorized"
        "403":
          description: "Forbidden"
        "404":
          description: "Not Found"
      x-swagger-router-controller: "Disposers"
  /v2/disposers/peny/{edrpou}/csv:
    get:
      tags:
      - "Disposers"
      summary: "Export peny to csv"
      operationId: "getCsvPenyUsingGET"
      produces:
      - "application/octet-stream"
      parameters:
      - name: "edrpou"
        in: "path"
        description: "edrpou"
        required: true
        type: "string"
      - name: "documentId"
        in: "query"
        description: "Ідентифікатор документу"
        required: false
        type: "array"
        items:
          type: "string"
        collectionFormat: "multi"
      - name: "disposerId"
        in: "query"
        description: "ЄДРПОУ розпорядника"
        required: false
        type: "array"
        items:
          type: "string"
        collectionFormat: "multi"
      - name: "contractorId"
        in: "query"
        description: "ЄДРПОУ контрагента"
        required: false
        type: "array"
        items:
          type: "string"
        collectionFormat: "multi"
      - name: "currency"
        in: "query"
        description: "Валюта"
        required: false
        type: "array"
        items:
          type: "string"
        collectionFormat: "multi"
      - name: "names"
        in: "query"
        description: "Назва контрагента"
        required: false
        type: "array"
        items:
          type: "string"
        collectionFormat: "multi"
      - name: "documentDateFrom"
        in: "query"
        description: "Діапазон пошуку за датою документа (дата з, включно)"
        required: false
        type: "string"
        format: "date-time"
      - name: "documentDateTo"
        in: "query"
        description: "Діапазон пошуку за датою документа (дата по, включно)"
        required: false
        type: "string"
        format: "date-time"
      - name: "signDateFrom"
        in: "query"
        description: "Діапазон пошуку за датою підпису документа (дата з, включно)"
        required: false
        type: "string"
        format: "date-time"
      - name: "signDateTo"
        in: "query"
        description: "Діапазон пошуку за датою підпису документа (дата по, включно\
          )"
        required: false
        type: "string"
        format: "date-time"
      - name: "amountFrom"
        in: "query"
        description: "Діапазон пошуку по сумі (сума з, включно)"
        required: false
        type: "number"
        format: "double"
      - name: "amountTo"
        in: "query"
        description: "Діапазон пошуку по сумі (сума по, включно)"
        required: false
        type: "number"
        format: "double"
      - name: "documentNumber"
        in: "query"
        description: "Номер документу. При пошуку за номером документу необхідно в\
          казати ЄДРПОУ розпорядника"
        required: false
        type: "string"
      - name: "version"
        in: "query"
        description: "Наявність версій"
        required: false
        type: "boolean"
      - name: "enabledInDateFrom"
        in: "query"
        description: "Пошук за діапазоном дії договору (дата з, включно)"
        required: false
        type: "string"
        format: "date-time"
      - name: "enabledInDateTo"
        in: "query"
        description: "Пошук за діапазоном дії договору (дата по, включно)"
        required: false
        type: "string"
        format: "date-time"
      responses:
        "200":
          description: "OK"
        "401":
          description: "Unauthorized"
        "403":
          description: "Forbidden"
        "404":
          description: "Not Found"
      x-swagger-router-controller: "Disposers"
  /v2/disposers/peny/{penyId}:
    get:
      tags:
      - "Disposers"
      summary: "Get peny by id"
      operationId: "getPenaltyUsingGET"
      produces:
      - "application/json"
      parameters:
      - name: "penyId"
        in: "path"
        description: "penyId"
        required: true
        type: "integer"
        format: "int64"
      responses:
        "200":
          description: "OK"
          schema:
            $ref: "#/definitions/PenyDTO"
        "401":
          description: "Unauthorized"
        "403":
          description: "Forbidden"
        "404":
          description: "Not Found"
      x-swagger-router-controller: "Disposers"
  /v2/disposers/ping:
    get:
      tags:
      - "Disposers"
      summary: "Перевірка доступності API"
      operationId: "pingUsingGET_2"
      produces:
      - "application/json"
      parameters: []
      responses:
        "200":
          description: "OK"
        "401":
          description: "Unauthorized"
        "403":
          description: "Forbidden"
        "404":
          description: "Not Found"
      x-swagger-router-controller: "Disposers"
  /v2/disposers/snapshot/{date}/{type}:
    get:
      tags:
      - "Disposers"
      summary: "Отримати файл з підписаними документами вказаного типу на вказану\
        \ дату"
      operationId: "getDataSnapshotUsingGET"
      produces:
      - "*/*"
      parameters:
      - name: "date"
        in: "path"
        description: "date"
        required: true
        type: "string"
      - name: "type"
        in: "path"
        description: "type"
        required: true
        type: "string"
        enum:
        - "UNDEFINED"
        - "CONTRACT"
        - "ADDENDUM"
        - "ACT"
        - "PENY"
        - "DELETED"
      responses:
        "200":
          description: "return .zip with JSON documents registry"
          schema:
            $ref: "#/definitions/ContractDTO"
        "401":
          description: "Unauthorized"
        "403":
          description: "Forbidden"
        "404":
          description: "No file found"
      x-swagger-router-controller: "Disposers"
  /v2/disposers/stat/{edrpou}:
    get:
      tags:
      - "Statistic"
      - "Disposers"
      summary: "Статистика"
      operationId: "getStatUsingGET"
      produces:
      - "application/json"
      parameters:
      - name: "edrpou"
        in: "path"
        description: "edrpou"
        required: true
        type: "string"
      responses:
        "200":
          description: "OK"
          schema:
            $ref: "#/definitions/DisposerStatDTO"
        "401":
          description: "Unauthorized"
        "403":
          description: "Forbidden"
        "404":
          description: "Not Found"
      x-swagger-router-controller: "Statistic"
  /v2/disposers/{edrpou}:
    get:
      tags:
      - "Disposers"
      summary: "Get disposer"
      operationId: "getDataUsingGET"
      produces:
      - "application/json"
      parameters:
      - name: "edrpou"
        in: "path"
        description: "edrpou"
        required: true
        type: "string"
      responses:
        "200":
          description: "OK"
          schema:
            $ref: "#/definitions/OrganizationDTO"
        "401":
          description: "Unauthorized"
        "403":
          description: "Forbidden"
        "404":
          description: "Not Found"
      x-swagger-router-controller: "Disposers"
  /v2/disposers/{edrpou}/{docId}/history:
    get:
      tags:
      - "Reports"
      - "Disposers"
      summary: "Запит History reports by ID"
      operationId: "getReporstHistoryListUsingGET_1"
      produces:
      - "application/json"
      parameters:
      - name: "edrpou"
        in: "path"
        description: "edrpou"
        required: true
        type: "string"
      - name: "docId"
        in: "path"
        description: "docId"
        required: true
        type: "integer"
        format: "int64"
      responses:
        "200":
          description: "OK"
          schema:
            type: "string"
        "401":
          description: "Unauthorized"
        "403":
          description: "Forbidden"
        "404":
          description: "Not Found"
      x-swagger-router-controller: "Reports"
  /v2/disposers/{edrpou}/{docId}/history/{historyId}:
    get:
      tags:
      - "Reports"
      - "Disposers"
      summary: "Запит History reports by ID"
      operationId: "getReporstHistoryListUsingGET"
      produces:
      - "application/json"
      parameters:
      - name: "edrpou"
        in: "path"
        description: "edrpou"
        required: true
        type: "string"
      - name: "docId"
        in: "path"
        description: "docId"
        required: true
        type: "integer"
        format: "int64"
      - name: "historyId"
        in: "path"
        description: "historyId"
        required: true
        type: "integer"
        format: "int32"
      responses:
        "200":
          description: "OK"
          schema:
            type: "string"
        "401":
          description: "Unauthorized"
        "403":
          description: "Forbidden"
        "404":
          description: "Not Found"
      x-swagger-router-controller: "Reports"
  /v2/googleStat/age:
    get:
      tags:
      - "Google analytic statistic"
      summary: "Статистика за віком"
      operationId: "getAgeStatUsingGET"
      produces:
      - "application/json"
      parameters: []
      responses:
        "200":
          description: "OK"
          schema:
            type: "array"
            items:
              $ref: "#/definitions/StatDTO"
        "401":
          description: "Unauthorized"
        "403":
          description: "Forbidden"
        "404":
          description: "Not Found"
      x-swagger-router-controller: "GoogleAnalyticStatistic"
  /v2/googleStat/browser:
    get:
      tags:
      - "Google analytic statistic"
      summary: "Використання браузерів"
      operationId: "getBrowserStatUsingGET"
      produces:
      - "application/json"
      parameters: []
      responses:
        "200":
          description: "OK"
          schema:
            type: "array"
            items:
              $ref: "#/definitions/StatDTO"
        "401":
          description: "Unauthorized"
        "403":
          description: "Forbidden"
        "404":
          description: "Not Found"
      x-swagger-router-controller: "GoogleAnalyticStatistic"
  /v2/googleStat/device:
    get:
      tags:
      - "Google analytic statistic"
      summary: "Використання пристроїв"
      operationId: "getDeviceStatUsingGET"
      produces:
      - "application/json"
      parameters: []
      responses:
        "200":
          description: "OK"
          schema:
            type: "array"
            items:
              $ref: "#/definitions/StatDTO"
        "401":
          description: "Unauthorized"
        "403":
          description: "Forbidden"
        "404":
          description: "Not Found"
      x-swagger-router-controller: "GoogleAnalyticStatistic"
  /v2/googleStat/gender:
    get:
      tags:
      - "Google analytic statistic"
      summary: "Демографічні показники"
      operationId: "getGenderStatUsingGET"
      produces:
      - "application/json"
      parameters: []
      responses:
        "200":
          description: "OK"
          schema:
            type: "array"
            items:
              $ref: "#/definitions/StatDTO"
        "401":
          description: "Unauthorized"
        "403":
          description: "Forbidden"
        "404":
          description: "Not Found"
      x-swagger-router-controller: "GoogleAnalyticStatistic"
  /v2/googleStat/ping:
    get:
      tags:
      - "Google analytic statistic"
      summary: "Перевірка доступності API"
      operationId: "pingUsingGET_4"
      produces:
      - "application/json;charset=UTF-8"
      parameters: []
      responses:
        "200":
          description: "OK"
        "401":
          description: "Unauthorized"
        "403":
          description: "Forbidden"
        "404":
          description: "Not Found"
      x-swagger-router-controller: "GoogleAnalyticStatistic"
  /v2/googleStat/regions:
    get:
      tags:
      - "Google analytic statistic"
      summary: "Статистика за регіонами"
      operationId: "getRegionStatUsingGET"
      produces:
      - "application/json"
      parameters: []
      responses:
        "200":
          description: "OK"
          schema:
            type: "array"
            items:
              $ref: "#/definitions/RegionStatDTO"
        "401":
          description: "Unauthorized"
        "403":
          description: "Forbidden"
        "404":
          description: "Not Found"
      x-swagger-router-controller: "GoogleAnalyticStatistic"
  /v2/map/aggregate:
    get:
      tags:
      - "Map"
      summary: "Повертає агреговані дані для карти"
      operationId: "getAggregateDataUsingGET"
      produces:
      - "application/json"
      parameters:
      - name: "lang"
        in: "query"
        description: "lang"
        required: false
        type: "string"
      responses:
        "200":
          description: "OK"
          schema:
            $ref: "#/definitions/AggregateMapDTO"
        "401":
          description: "Unauthorized"
        "403":
          description: "Forbidden"
        "404":
          description: "Not Found"
      x-swagger-router-controller: "Map"
  /v2/regions:
    get:
      tags:
      - "Regions"
      summary: "Повертає довідник регіонів"
      operationId: "getRegionsUsingGET_1"
      produces:
      - "application/json"
      parameters: []
      responses:
        "200":
          description: "OK"
          schema:
            type: "array"
            items:
              $ref: "#/definitions/Regions"
        "401":
          description: "Unauthorized"
        "403":
          description: "Forbidden"
        "404":
          description: "Not Found"
      deprecated: true
      x-swagger-router-controller: "Regions"
  /v2/regions/ping:
    get:
      tags:
      - "Regions"
      summary: "Перевірка доступності API"
      operationId: "pingUsingGET_5"
      produces:
      - "application/json"
      parameters: []
      responses:
        "200":
          description: "OK"
        "401":
          description: "Unauthorized"
        "403":
          description: "Forbidden"
        "404":
          description: "Not Found"
      x-swagger-router-controller: "Regions"
  /v2/stat/cabinet:
    get:
      tags:
      - "Statistic"
      summary: "Повертає статистику кабінетів)"
      operationId: "getCabinetPageStatUsingGET"
      produces:
      - "application/json;charset=UTF-8"
      parameters:
      - name: "kopfg"
        in: "query"
        description: "КОПФГ"
        required: false
        type: "integer"
        format: "int32"
      - name: "regionId"
        in: "query"
        description: "Регіон"
        required: false
        type: "integer"
        format: "int32"
      - name: "page"
        in: "query"
        description: "Номер сторінки"
        required: false
        type: "integer"
        format: "int32"
      - name: "pageSize"
        in: "query"
        description: "Кількість елементів на сторінці"
        required: false
        type: "integer"
        format: "int32"
      responses:
        "200":
          description: "OK"
          schema:
            type: "array"
            items:
              $ref: "#/definitions/EnterpriseStatistic"
        "401":
          description: "Unauthorized"
        "403":
          description: "Forbidden"
        "404":
          description: "Not Found"
      x-swagger-router-controller: "Statistic"
  /v2/stat/documents:
    get:
      tags:
      - "Statistic"
      summary: "Повертає агреговану статистику документів на порталі (загальна кіл\
        ькість/кількість оприлюднених)"
      operationId: "getDocStatUsingGET"
      produces:
      - "application/json;charset=UTF-8"
      parameters: []
      responses:
        "200":
          description: "OK"
          schema:
            type: "array"
            items:
              $ref: "#/definitions/DocStat"
        "401":
          description: "Unauthorized"
        "403":
          description: "Forbidden"
        "404":
          description: "Not Found"
      x-swagger-router-controller: "Statistic"
  /v2/stat/dynamics:
    get:
      tags:
      - "Statistic"
      summary: "Повертає динаміку реєстрації кабінетів"
      operationId: "getDynamicsByPeriodsUsingGET"
      produces:
      - "application/json;charset=UTF-8"
      parameters: []
      responses:
        "200":
          description: "OK"
          schema:
            type: "array"
            items:
              $ref: "#/definitions/CabinetRegDynamic"
        "401":
          description: "Unauthorized"
        "403":
          description: "Forbidden"
        "404":
          description: "Not Found"
      x-swagger-router-controller: "Statistic"
  /v2/stat/kopfg:
    get:
      tags:
      - "Statistic"
      summary: "Повертає агреговану статистику за КОАТУУ та КОПФГ"
      operationId: "getKopfgStatUsingGET"
      produces:
      - "application/json;charset=UTF-8"
      parameters: []
      responses:
        "200":
          description: "OK"
          schema:
            type: "array"
            items:
              $ref: "#/definitions/RegionKopfgStat"
        "401":
          description: "Unauthorized"
        "403":
          description: "Forbidden"
        "404":
          description: "Not Found"
      x-swagger-router-controller: "Statistic"
  /v2/stat/organizations/csv:
    get:
      tags:
      - "Statistic"
      summary: "Повертає статистику документів організацій на порталі"
      operationId: "getCsvStatsUsingGET"
      produces:
      - "application/octet-stream"
      parameters: []
      responses:
        "200":
          description: "OK"
          schema:
            type: "array"
            items:
              $ref: "#/definitions/OrgStat"
        "401":
          description: "Unauthorized"
        "403":
          description: "Forbidden"
        "404":
          description: "Not Found"
      x-swagger-router-controller: "Statistic"
  /v2/stat/ping:
    get:
      tags:
      - "Statistic"
      summary: "Перевірка доступності API"
      operationId: "pingUsingGET_7"
      produces:
      - "application/json;charset=UTF-8"
      parameters: []
      responses:
        "200":
          description: "OK"
        "401":
          description: "Unauthorized"
        "403":
          description: "Forbidden"
        "404":
          description: "Not Found"
      x-swagger-router-controller: "Statistic"
definitions:
  ActDTO:
    type: "object"
    properties:
      id:
        type: "integer"
        format: "int64"
        description: "id-документу"
      edrpou:
        type: "string"
        description: "ЄДРПОУ-розпорядника"
      documentNumber:
        type: "string"
        description: "Номер документу"
      documentDate:
        type: "string"
        description: "Дата укладання документу"
      signDate:
        type: "string"
        description: "Дата підписання (оприлюднення)"
      signature:
        description: "ЕЦП"
        $ref: "#/definitions/SignatureDTO"
      amount:
        type: "number"
        format: "double"
        description: "Вартість документу"
      currency:
        type: "string"
        description: "Валюта документу"
      currencyAmountUAH:
        type: "number"
        format: "double"
        description: "Еквівалент, грн. (для валютних документів)"
      contractors:
        type: "array"
        description: "Контрагенти"
        items:
          $ref: "#/definitions/ContractorDTO"
      parentId:
        type: "integer"
        format: "int64"
        description: "id-договору (\"батьківський\" договір для акта)"
      pdvInclude:
        type: "boolean"
        example: false
        description: "з ПДВ/без ПДВ у вартості акта"
      pdvAmount:
        type: "number"
        format: "double"
        description: "сума ПДВ у вартості акта"
      specifications:
        type: "array"
        description: "Специфікації"
        items:
          $ref: "#/definitions/SpecificationDTO"
      isCpvVat:
        type: "boolean"
        example: false
        description: "з ПДВ/ без ПДВ у ціні за одиницю специфікації"
      procurementItems:
        type: "array"
        description: "Масив кодів за ДК 021:2015"
        items:
          $ref: "#/definitions/Procurement"
    title: "ActDTO"
    example:
      documentDate: "documentDate"
      amount: 5.962133916683182377482808078639209270477294921875
      procurementItems:
      - cpvCode: "cpvCode"
        nameUa: "nameUa"
      - cpvCode: "cpvCode"
        nameUa: "nameUa"
      signature:
        caAddress: "caAddress"
      documentNumber: "documentNumber"
      signDate: "signDate"
      specifications:
      - cpvCode: "cpvCode"
        specCode: "specCode"
        itemCost: 4.1456080298839363962315474054776132106781005859375
        itemDimension: "itemDimension"
        specificationName: "specificationName"
        itemCount: 7.3862819483858839220147274318151175975799560546875
      - cpvCode: "cpvCode"
        specCode: "specCode"
        itemCost: 4.1456080298839363962315474054776132106781005859375
        itemDimension: "itemDimension"
        specificationName: "specificationName"
        itemCount: 7.3862819483858839220147274318151175975799560546875
      parentId: 3
      pdvInclude: false
      contractors:
      - firstName: "firstName"
        identifier: "identifier"
        lastName: "lastName"
        address:
          districtCity: "districtCity"
          city: "city"
          housing: "housing"
          regionId: 7
          street: "street"
          district: "district"
          regionName: "regionName"
          countryName: "countryName"
          office: "office"
          house: "house"
          countryId: 2
        contractorType: 9
        name: "name"
        middleName: "middleName"
      - firstName: "firstName"
        identifier: "identifier"
        lastName: "lastName"
        address:
          districtCity: "districtCity"
          city: "city"
          housing: "housing"
          regionId: 7
          street: "street"
          district: "district"
          regionName: "regionName"
          countryName: "countryName"
          office: "office"
          house: "house"
          countryId: 2
        contractorType: 9
        name: "name"
        middleName: "middleName"
      currencyAmountUAH: 5.63737665663332876420099637471139430999755859375
      edrpou: "edrpou"
      isCpvVat: false
      currency: "currency"
      id: 1
      pdvAmount: 2.027123023002321833274663731572218239307403564453125
  AddendumDTO:
    type: "object"
    properties:
      id:
        type: "integer"
        format: "int64"
        description: "id-документу"
      edrpou:
        type: "string"
        description: "ЄДРПОУ-розпорядника"
      documentNumber:
        type: "string"
        description: "Номер документу"
      documentDate:
        type: "string"
        description: "Дата укладання документу"
      signDate:
        type: "string"
        description: "Дата підписання (оприлюднення)"
      signature:
        description: "ЕЦП"
        $ref: "#/definitions/SignatureDTO"
      amount:
        type: "number"
        format: "double"
        description: "Вартість документу"
      currency:
        type: "string"
        description: "Валюта документу"
      currencyAmountUAH:
        type: "number"
        format: "double"
        description: "Еквівалент, грн. (для валютних документів)"
      contractors:
        type: "array"
        description: "Контрагенти"
        items:
          $ref: "#/definitions/ContractorDTO"
      parentId:
        type: "integer"
        format: "int64"
        description: "id-договору (\"батьківський\" договір для додаткової угоди)"
      fromDate:
        type: "string"
        description: "строк дії дод.угоди з"
      toDate:
        type: "string"
        description: "строк дії дод.угоди по"
      noTerm:
        type: "boolean"
        example: false
        description: "Безстроковий"
      subject:
        type: "string"
        description: "предмет додаткової угоди"
      amountIncrease:
        type: "number"
        format: "double"
        description: "сума додаткової угоди"
      pdvInclude:
        type: "boolean"
        example: false
        description: "з ПДВ/без ПДВ скоригована вартість основного договору"
      pdvAmount:
        type: "number"
        format: "double"
        description: "сума ПДВ в скоригованій вартості основного договору"
      correctionType:
        type: "integer"
        format: "int32"
        description: "Тип коригування вартості основного договору:\n0: сума додатк\
          ової угоди зменшує вартість основного договору,\n1: сума додаткової угод\
          и збільшує вартість основного договору,\n2: сума додаткової угоди не змі\
          нює вартість основного договору"
      isCorrectionWithPDF:
        type: "boolean"
        example: false
        description: "з ПДВ/без ПДВ сума додаткової угоди"
      correctionVATValue:
        type: "number"
        format: "double"
        description: "сума ПДВ у сумі додаткової угоди"
      reasonTypes:
        type: "array"
        description: "підстава укладення додаткової угоди:\n0: зміна предмету,\n1:\
          \ зміна ціни,\n2: зміна терміну,\n99: інше"
        items:
          $ref: "#/definitions/AddendumReasonDTO"
      reasonOtherComment:
        type: "string"
        description: "деталізація підстави \"99:інше\""
      specifications:
        type: "array"
        description: "Специфікації"
        items:
          $ref: "#/definitions/SpecificationDTO"
      isCpvVat:
        type: "boolean"
        example: false
        description: "з ПДВ/ без ПДВ у ціні за одиницю специфікації"
      procurementItems:
        type: "array"
        description: "Масив кодів за ДК 021:2015"
        items:
          $ref: "#/definitions/Procurement"
    title: "AddendumDTO"
    example:
      documentDate: "documentDate"
      procurementItems:
      - cpvCode: "cpvCode"
        nameUa: "nameUa"
      - cpvCode: "cpvCode"
        nameUa: "nameUa"
      amountIncrease: 7.061401241503109105224211816675961017608642578125
      signature:
        caAddress: "caAddress"
      documentNumber: "documentNumber"
      subject: "subject"
      correctionVATValue: 2.027123023002321833274663731572218239307403564453125
      signDate: "signDate"
      specifications:
      - cpvCode: "cpvCode"
        specCode: "specCode"
        itemCost: 4.1456080298839363962315474054776132106781005859375
        itemDimension: "itemDimension"
        specificationName: "specificationName"
        itemCount: 7.3862819483858839220147274318151175975799560546875
      - cpvCode: "cpvCode"
        specCode: "specCode"
        itemCost: 4.1456080298839363962315474054776132106781005859375
        itemDimension: "itemDimension"
        specificationName: "specificationName"
        itemCount: 7.3862819483858839220147274318151175975799560546875
      currencyAmountUAH: 5.63737665663332876420099637471139430999755859375
      reasonTypes:
      - reasonId: 4
      - reasonId: 4
      edrpou: "edrpou"
      currency: "currency"
[...]
